@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px 16px 12px;
}

header .logo .a {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  padding: 10px 12px;
}

header nav {
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1154px;
  margin: auto;
}

header nav ul {
  display: none;
}

header nav .menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}

.banner {
  background-image: url("../images/Header_bg@2x.svg");
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 102px 24px 116px 24px;
  border-bottom-left-radius: 80px;
}

.banner-text {
  padding: 142px;
  margin-left: 100px;
  margin-top: -150px;
  width: 100%;
}

.contact-section form p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  max-width: 569px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 58px;
}

.banner .banner-text p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  margin-bottom: 12px;
}

.works {
  margin-top: 114px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
}

.work-item {
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 16px 16px 28px 16px;
  display: flex;
  flex-direction: column;
}

.work-img img {
  max-width: 100%;
  margin: auto;
}

.works .work-items {
  list-style: none;
  display: -ms-grid;
  display: grid;
  row-gap: 88px;
}

.works .work-items .work-item {
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 16px 16px 28px 16px;
  display: flex;
  flex-direction: column;
}

.work-info h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 20px;
}

.work-info-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.company-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.work-info-details-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  float: left;
  display: flex;
}

.project-description {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
  margin-bottom: 12px;
}

.project-technologies {
  display: flex;
  margin-bottom: 24px;
  list-style: none;
}

.project-technologies li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 4px 12px;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  margin-left: 8px;
}

.see-project {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-block;
  color: #396df2;
  padding: 12px;
  border: 1px solid #396df2;
  border-radius: 8px;
}

.li {
  list-style: none;
  margin-left: 10px;
}

.work_item {
  margin-left: 30em;
  margin-top: -15em;
  width: 350px;
}

@media screen and (max-width: 700px) {
  .work_item {
    margin-top: 1em;
    margin-left: 20px;
  }

  .work-item {
    width: 400px;
  }

  .works {
    display: flex;
    justify-content: center;
  }
}

section {
  display: flex;
}

.left-side {
  padding: 142px 142px 142px 142px;
}

.right-side {
  padding: 142px 142px 142px 142px;
}

.inner {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  margin-left: -15px;
}

.language-text {
  display: flex;
  flex-direction: row;
}

.language-text i {
  font-size: 22px;
  margin-left: 220px;
  color: gray;
  margin-top: 5px;
}

.language-text1 {
  display: flex;
  flex-direction: row;
}

.language-text1 h6 {
  margin-top: 30px;
}

.language-text1 i {
  margin-left: 210px;
  font-size: 22px;
  color: gray;
  margin-top: 35px;
}

.i-1 i {
  margin-left: 283px;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  align-items: center;
  gap: 20px;
  list-style: none;
}

li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
  animation-name: panimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes panimation {
  0% {
    background-color: white;
  }

  25% {
    background-color: red;
  }

  50% {
    background-color: greenyellow;
  }

  70% {
    background-color: #7f8cff;
  }

  75% {
    background-color: gold;
  }

  100% {
    background-color: white;
  }
}

button {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-block;
  color: #396df2;
  padding: 12px;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-top: 10px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

.inner-skills img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: 10px;
}

.inner-skills {
  margin-left: 15px;
  width: 110px;
  background-color: #f7f7f9;
  height: 110px;
}

.pp {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
}

.about-section {
  background-color: white;
  margin-top: 142px;
  border-top-right-radius: 80px;
  width: 100%;
  height: 924px;
}

.contact-me {
  background-image: url(../images/contact-form-shapes-mobile.svg);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-top-left-radius: 90px;
  z-index: 3;
  position: relative;
  justify-content: center;
  align-items: center;
}

.contact-me-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
  margin-left: auto;
  margin-right: auto;
  max-width: 327px;
}

.contact-me-info {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 87px;
  text-align: center;
}

.contact-me-form ul {
  list-style: none;
}

.contact-me-form input,
.contact-me-form textarea {
  background-color: #fff;
  padding: 22px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form-name,
.form-email,
.form-textarea {
  margin: 1px 24px 20px 24px;
}

.form-btn button {
  margin-left: 24px;
  background-color: #fff;
  color: #6070ff;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.form-btn button:hover {
  color: #fff;
  background-color: #6070ff;
  border-color: #6070ff;
  cursor: pointer;
}

.form-btn button:active {
  color: #fff;
  background-color: #2230d2;
  border-color: #2230d2;
}

@media screen and (min-width: 992px) {
  .header {
    align-items: baseline;
  }

  .logo {
    margin: 25px 155px;
  }

  .menu-btn {
    display: none;
  }

  .desktop-navbar {
    display: flex;
    margin-right: 154px;
    list-style: none;
  }

  .navbar-item {
    margin-left: 32px;
    padding-top: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  .contact-me {
    background-image: url(../img/contact\ form\ background\ shapes.svg);
    margin: 0 auto;
    text-align: center;
  }

  .contact-me-title {
    margin-top: 142px;
    max-width: 801px;
  }

  .contact-me-info {
    margin-bottom: 12px;
    max-width: 569px;
    align-self: center;
  }

  .contact-me-form input,
  .contact-me-form textarea {
    width: 50%;
  }
}
